.footer{
    background-color: $color-black;
    padding: 10rem 0;

    &__logo{
        text-align: center;
        margin-bottom: 6rem;
        
    }
    &__navigation{

        border-top: 1px solid $color-grey-dark-2;
        padding-top: 1rem;
        display: inline-block;
        font-size: 1.4rem;

        @include respond(tab-port){
            margin: auto;
            display: block;
            text-align: center;

        }
    }
    
    &__list{
        color: white;
        list-style: none;
    }
    &__item{
        display: inline-block;
        text-transform: uppercase;
        transition: all 0.2s;
        &:not(:last-child){
            margin-right: 1rem;
        }
    }

    &__credits{
        color: white;
        border-top: 1px solid $color-grey-dark-2;
        padding-top: 1rem;
        float: right;
        width: 80%;
        overflow: hidden;
        font-size: 1.4rem;
        // word-spacing: 0.4rem;

        @include respond(tab-port){
            float: none;
            margin: auto;
            margin-top: 3rem;
        }

        &-highlight{
            display: inline-block;
            transition: all 0.2s;
        }

    }
    
    &__nav--item:hover,
    &__credits-highlight:hover{
        background-color: $color-Dark-green;
        transform: scale(1.2) rotateZ(10deg);
    }
}