.popup{
    background-color: rgba(16, 15, 15, 0.3);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    backdrop-filter: blur(3px);
    
    &:target{
        opacity: 1;
        visibility: visible;
    }

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        width: 75%;
        // height: 50%;
        background: white;
        border-radius: 3px;
        overflow: hidden;
        display: table;
        transition: all 0.4s;
    }
    &:target &__content{
        transform: translate(-50%,-50%) scale(1);
    }
    &__left{
        width: 33.34%;
        display: table-cell;
        
    }
    &__img{
        width: 100%;
        display: block;
    }
    &__right{
        width: calc(100% - 33.34%);
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__text{
        font-size: 1.4rem;
        column-count: 2;
        column-rule: 1px solid $color-grey-dark-2;
        column-gap: 4rem;
        margin-bottom: 4rem;
        hyphens: auto;

    }
    &__close{
        transition: all 0.3s;
            &:link,
            &:visited{
            position: absolute;
            top: 1rem;
            right: 2rem;
            font-size: 2rem;
            text-decoration: none;
            color: $color-grey-dark-2;
        }

            &:hover{
                color: $color-Dark-green;
                transform: scale(1.2);
            }

    }
} 